.glass-input {
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 16px 24px;
    font-size: 16px;
    width: 300px;
    outline: none;
    border-radius: 12px;

    transition: all 0.3s ease;
    text-align: center;
}

.glass-input:focus {
    background: rgba(255, 255, 255, 0.15);
    border-color: rgba(255, 255, 255, 0.4);
}

.glass-input:disabled {
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.1);
    cursor: not-allowed;
    opacity: 0.6;
}

.main_cont {
    width: '100vw';
    height: '100vh';
    position: 'fixed';
    top: 0;
    left: 0;
    display: 'flex';
    overflow: 'hidden';
    outline: 'none';
}

.neon-input {
    border: none;
    background: rgba(0, 0, 0, 0.8);
    padding: 14px 20px;
    font-size: 16px;
    width: 300px;
    outline: none;
    border-radius: 6px;
    color: white;
    text-align: center;
    box-shadow: 0 0 0 1px #333;
    transition: all 0.3s ease;
}

.neon-input:focus {
    box-shadow: 0 0 0 2px #00ff88, 0 0 20px rgba(0, 255, 136, 0.3);
}

.neon-input:disabled {
    box-shadow: 0 0 0 2px #ff006a, 0 0 20px rgba(255, 0, 106, 0.3);
}


.neon-input::placeholder {
    color: #666;
}


@keyframes correctText {
    0% {
        color: #bdcfbd;
    }

    50% {
        color: #e7eee7;
    }

    100% {
        color: rgba(255, 255, 255, 0.87);
    }
}

@keyframes incorrectText {
    0% {
        color: #d4c4c4;
    }

    50% {
        color: #e9e0e0;
    }

    100% {
        color: rgba(255, 255, 255, 0.87);
    }
}


@keyframes correctBg {
    0% {
        background-color: #244424;
    }

    50% {
        background-color: #243024;
    }

    100% {
        background-color: #242424;
    }
}

@keyframes incorrectBg {
    0% {
        background-color: #402424;
    }

    50% {
        background-color: #302424;
    }

    100% {
        background-color: #242424;
    }
}

@keyframes neuturalBg {
    0% {
        background-color: #242440;
    }

    50% {
        background-color: #242430;
    }

    100% {
        background-color: #242424;
    }
}