.glass-input {
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 16px 24px;
    font-size: 16px;
    width: 300px;
    outline: none;
    border-radius: 12px;

    transition: all 0.3s ease;
    text-align: center;
}

.glass-input:focus {
    background: rgba(255, 255, 255, 0.15);
    border-color: rgba(255, 255, 255, 0.4);
}

.glass-input:disabled {
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.1);
    cursor: not-allowed;
    opacity: 0.6;
}

.neon-input {
    border: none;
    background: #000000bd;
    padding: 14px 20px;
    /* font-size: 16px; */
    width: 300px;
    outline: none;
    border-radius: 6px;
    color: white;
    text-align: center;
    box-shadow: 0 0 0 1px #333;
    transition: all 0.3s ease;

    font-size: 25px;
    margin: 70px;
}

.neon-input:focus {
    box-shadow: 0 0 0 2px #00ff88, 0 0 20px rgba(0, 255, 136, 0.3);
}

.neon-input:disabled {
    box-shadow: 0 0 0 2px #ff006a, 0 0 20px rgba(255, 0, 106, 0.3);
}

.neon-input::placeholder {
    color: #666;
}

.main_cont {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    outline: none;
    background-color: var(--background-color);

    font-family:
        "Yu Mincho",
        "Meiryo",
        Yu Gothic UI,
        MS PGothic, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.preloader.main_cont {
    flex-direction: column;
}

.game-text-furigana {
    font-size: 40px;
    margin: 0;
    transition: opacity 0.3s ease;
}

.game-text-english {
    font-size: 25px;
    margin: 0;
    transition: opacity 0.3s ease;
}

.kanji-main {
    margin: 10px;
    padding: 10px;
    font-size: 6em;
    font-weight: 550;
}


.result-header {
    margin-bottom: 20px;
}

@keyframes correctText {
    0% {
        color: var(--correct-text)
    }

    100% {
        color: var(--text-color);
    }
}

@keyframes incorrectText {
    0% {
        color: var(--incorrect-text)
    }

    100% {
        color: var(--text-color);
    }
}


@keyframes correctBg {
    0% {
        background-color: var(--correct-back);
    }

    100% {
        background-color: var(--background-color);
    }
}

@keyframes incorrectBg {
    0% {
        background-color: var(--incorrect-back);
    }

    100% {
        background-color: var(--background-color);
    }
}

@keyframes neuturalBg {
    0% {
        background-color: var(--neutural-back);
    }

    100% {
        background-color: var(--background-color);
    }
}



.neon-line {
    display: block;
    width: 300px;

    padding: 14px 20px;

    font-size: 25px;
    margin: 70px;

    border: none;
    border-bottom: 2px solid #333;
    background: transparent;
    outline: none;

    color: var(--text-color);

    text-align: center;
    position: relative;
    transition: all 0.3s ease;

    font-family: inherit
}

.neon-line:focus {
    border-bottom: 2px solid #2acc2a;
}

.neon-line:disabled {
    border-bottom-color: #dd0606;
    color: #3b2121;
    opacity: 0.95;
}

.neon-line::placeholder {
    color: #000000;
}

.neon-line:focus::placeholder {
    opacity: 0.3;
}